*.img
*.x
*.t
*.tx
*~
*.swp
*.swo
test
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vim
./passafe.x
./core
./loopback.img
./.vscode/ipch/f58bfdb5adf70099/deduce.ipch
./.vscode/ipch/7e1112f22bf7362e/ch.ipch
./.git/objects/ad/54d5aef8929de0e7f93fbface5418d02ecf18a
./.git/objects/3d/24114ae62e7702636a87f870456f2aa2f60c73
